<div class="container bg-dark mt-2">
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a
          href="https://github.com/devsleonardo"
          class="nav-color d-flex align-items-center text-decoration-none mx-4"
          ><i class="fa-solid fa-newspaper me-3 fa-2x"></i>
          DEVSLEONARDO
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a [routerLink]="['/inicio']" class="nav-color nav-link px-2">Início</a></li>
          <li>
            <a [routerLink]="['/topBrasil']" class="nav-color nav-link px-2">Top Brasil</a>
          </li>
          <li>
            <a [routerLink]="['/topMundo']" class="nav-color nav-link px-2">Top Mundo</a>
          </li>
          <li><a [routerLink]="['/games']" class="nav-color nav-link px-2">Top Games</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>
