@import 'color';
@import 'animated';

.bg-container {
  background: $white;
  padding: 30px 30px 20px 30px;

  .card-text {
    letter-spacing: 1px;
    font-size: 0.75em;
  }

  h5 {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2em;
  }
}
